{% extends "../layouts/base.html" %}

{% block title %} 首頁 {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="content">
        <div class="row">
            <div class="col-12">
                <div class="card card-chart">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-sm-6 text-left">
                                <h5 class="card-category">本日接收數據圖表</h5>
                                <h2 class="card-title sensor-data-title"></h2>
                            </div>
                            <div class="col-sm-6">
                                <div class="btn-group btn-group-toggle float-right" data-toggle="buttons" id="sensor-buttons">
                                    <!-- 動態生成按鈕 -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="chartBig1"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-6">
                <div class="card card-chart">
                    <div class="card-header">
                        <h5 class="card-category">過去5天最高/低數據</h5>
                        <h3 class="card-title"><i class="tim-icons icon-calendar-60 text-primary"></i>
                            本日最高數據: <span id="today-max" style="color:red">N/A</span> 
                            本日最低數據: <span id="today-min" style="color:aqua">N/A</span>
                        </h3>
                    </div>
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="chartLineData"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card card-chart">
                    <div class="card-header">
                        <h5 class="card-category">過去5天接收數據量</h5>
                        <h3 class="card-title"><i class="tim-icons icon-delivery-fast text-info"></i>本日接收數據: <span id="today-receive-total" style="color: rgba(54, 162, 235, 1)">N/A</h3>
                    </div>
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="RecevieTotal"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            {% comment %} <div class="col-lg-4">
                <div class="card card-chart">
                    <div class="card-header">
                        <h5 class="card-category">Completed Tasks</h5>
                        <h3 class="card-title"><i class="tim-icons icon-send text-success"></i> 12,100K</h3>
                    </div>
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="chartLineGreen"></canvas>
                        </div>
                    </div>
                </div>
            </div> {% endcomment %}
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% comment %} <script src="{{ DASHBOARD_STATIC_URL }}/assets"></script> {% endcomment %}
{% endblock javascripts %}
