{% extends "../layouts/base.html" %}

{% block title %} 商品列表 {% endblock %}

{% block stylesheets %}
<style>
  .product-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
</style>
{% endblock stylesheets %}

{% block content %}

<div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card  card-plain">
          <div class="card-header">
            <h4 class="card-title"> 商品列表</h4>
            <p class="category">在此查看所有商品</p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table tablesorter " id="">
                <thead class=" text-primary">
                  <tr>
                    <th>
                      商品名稱
                    </th>
                    <th>
                      商品封面照
                    </th>
                    <th>
                      描述
                    </th>
                    <th class="text-center">
                      價格
                    </th>
                    <th>
                      操作
                    </th>
                  </tr>
                </thead>
                <tbody>
                {% for product in products %}
                  <tr>
                    <td>
                    {{ product.product_name }}
                    </td>
                    <td>
                        <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image">
                    </td>
                    <td>
                    {{ product.description }}
                    </td>
                    <td class="text-center">
                    {{ product.price }}
                    </td>
                    <td>
                      <form method="post" action="{% url 'delete_product' product.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm">刪除</button>
                      </form>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

{% block javascripts %}
<script>

// 檢查是否需要顯示保存成功通知
document.addEventListener('DOMContentLoaded', function() {
  var deleteSuccess = {{ delete|yesno:"true,false" }};
  if (deleteSuccess) {
      showNotification('top', 'center', '系統訊息 - <b>刪除成功</b>');
  }
});
</script>
{% endblock javascripts %}