{% extends "../layouts/base-fullscreen.html" %}

{% block title %} 登入 {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="content">
        <div class="container">
            <div class="row pt-5">
                <div class="col-md-6 mt-5 offset-md-3 pt-5 mt-5">
                    <div class="card">
                        
                        <div class="card-header text-center py-4">
                            <h4 class="title">
                               登入
                            </h4>

                            <h6 class="card-category">
                                {% if msg %}
                                  <span class="text-danger">{{ msg | safe }}</span>
                                {% else %}
                                <span>
                                  請登入
                                </span>
                                {% endif %}  
                            </h6>
                        </div>

                        <form role="form" method="post" action="">
                                
                            {% csrf_token %}  

                            <div class="card-body px-5 py-3"> 

                                <div class="row">
                                    <div class="col-md-12 px-md-1">
                                        <div class="form-group">
                                            <label>使用者帳號</label>
                                            {{ form.username }}
                                        </div>
                                    </div>

                                    <div class="col-md-12 px-md-1">
                                        <div class="form-group">
                                            <label>密碼</label>
                                            {{ form.password }}
                                        </div>
                                    </div>
                                </div>

                                
                            </div>
                            
                            <div class="card-footer text-center">
                                <button type="submit" name="login" class="btn btn-fill btn-primary">登入</button>
                                
                                <br /><br />

                                <p>
                                    <a href="{% url 'password_reset' %}" class="text-primary">忘記密碼</a>                            
                                </p>
                            </div>

                        </form>

                    </div>
                </div>

            </div>
        </div>

    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const loginFailed = "{{ LOGIN_FAILED }}";
    if (loginFailed === 'True') {
        showNotification('top', 'center', '登入失敗 - <b>帳號或密碼錯誤</b>', "danger");
    }
});
</script>
{% endblock javascripts %}
