{% extends "layouts/base-fullscreen.html" %}

{% block title %} 忘記密碼 {% endblock %}

{% block content %}
    <div class="content">
        <div class="container">
            <div class="row pt-5">
                <div class="col-md-6 mt-5 offset-md-3 pt-5 mt-5">
                    <div class="card">
                        <div class="card-header text-center py-4">
                            <h4 class="title">忘記密碼</h4>
                            <h6 class="card-category">
                                {% if form.email.errors %}
                                  <span class="text-danger">電子郵件錯誤</span>
                                {% else %}
                                    <span class="text-danger">請輸入你的電子郵件地址，我們會寄送一封包含密碼重設連結的郵件給你。</span>
                                {% endif %} 
                                
                            </h6>
                        </div>
                        <form method="post">
                            {% csrf_token %}
                            <div class="card-body px-5 py-3">
                                <div class="form-group">
                                    <label>電子郵件地址</label>
                                    {{ form.email }}
                                </div>
                            </div>
                            <div class="card-footer text-center">
                                <button type="submit" class="btn btn-fill btn-primary">送出</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
