{% extends "layouts/base-fullscreen.html" %}

{% block title %} 忘記密碼 {% endblock %}

{% block content %}
    <div class="content">
        <div class="container">
            <div class="row pt-5">
                <div class="col-md-6 mt-5 offset-md-3 pt-5 mt-5">
                    <div class="card">
                        <div class="card-header text-center py-4">
                            <h4 class="title">郵件已發送</h4>
                            <h6 class="card-category">
                                <span class="text-danger">我們已經寄送一封包含密碼重設連結的郵件給你，請至信箱查看。</span>
                            </h6>
                        </div>
                        <div class="card-footer text-center">
                            <a href="{% url 'login' %}" 
                               class="btn btn-fill btn-primary">登入</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
