{% extends "layouts/base-fullscreen.html" %}

{% block title %} 重置密碼 {% endblock %}

{% block content %}
    <div class="content">
        <div class="container">
            <div class="row pt-5">
                <div class="col-md-6 mt-5 offset-md-3 pt-5 mt-5">
                    <div class="card">
                        <div class="card-header text-center py-4">
                            <h4 class="title">重置密碼</h4>
                            <h6 class="card-category">
                                <span class="text-danger"></span>
                            </h6>
                        </div>
                        <form method="post">
                            {% csrf_token %}
                            <div class="card-body px-5 py-3">
                                <div class="form-group">
                                    <label>輸入新密碼</label>
                                    {{ form.new_password1 }}
                                </div>
                                <div class="form-group">
                                    <label>確認新密碼</label>
                                    {{ form.new_password2 }}
                                </div>
                            </div>
                            <div class="card-footer text-center">
                                <button type="submit" class="btn btn-fill btn-primary">送出</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
